{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<h1>{% trans "Log out" %}</h1>

<div>
    <form method="POST" action="{% url "account_logout" %}">
        <fieldset class="box">
            {% csrf_token %}
            <p>{% trans "Are you sure you want to log out?" %}</p>
            <button type="submit" class="btn btn-primary">{% trans "Log out" %}</button>
        </fieldset>
    </form>
</div>

<script>
    document.querySelector('#id_username').focus();
</script>
{% endblock %}