{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h1>Welcome to {{ group.name }}</h1>
{{ group.text }}

<h2>Upcomming events</h2>
{% for event in events %}
  <div class="box">
      <h2><a href="{% url 'event_detail' group_name=group.name_url event_name=event.name_url %}">{{ event.name }}</a></h2>
      <p>Location: {{ event.location }}</p>
      <p>{{ event.text }}</p>
  </div>
{% empty %}
    <div class="box">
        No event scheduley yet.
    </div>
{% endfor %}

{% endblock %}