{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h1>Welcome to JoinUp</h1>

This is the place to meet new people.

<h2>Find groups by interest</h2>
<div class="grid">
{% for tag in tags %}
    <a href="{% url 'tag_view' tag_name=tag.name %}">
        {{ tag.name }}
    </a>
{% empty %}
    <div>
        Sorry no tags registered. <br>
        Add a tag to your group today!
    </div>
{% endfor %}
</div>

<h2>Checkout the latest groups</h2>
<div class="grid">
{% for group in groups %}
    <a href="{% url 'group_view' group_name=group.name_url %}">
        {{ group.name }}
    </a>
{% empty %}
    <div>
        Sorry no groups registered. <br>
        Add your group today!
    </div>
{% endfor %}
</div>

{% endblock %}