{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h1>About</h1>

<p>
    I made this prototype because the current plattform I am using to organize events
    is being taken over.
</p>

<p>
    A platform like this is essential to build communities.
    For that reason I believe software like this should be open and accessible to everybody.
</p>

<p>
    Engineering requires resources.
    However projects like this scale very well.
    This means, after the initial phase costs per user drop significantly.
    Therefore I believe JoinUp can work with subscriptions from or with funding from a foundation.
</p>

<p>
    For future updates, follow me
    <a href="https://twitter.com/dns2utf8" target="_blank">@dns2utf8</a>
</p>

{% endblock %}