{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h1>Terms of service</h1>

<p>
    This service is run as is.
    There is no guarantee it will work for ever.
</p>

<p>
    All the data you enter here is either:
    <ul>
        <li>Directly available as the user uploaded it.</li>
        <li>Your email address in the profile, which will not be shared.</li>
    </ul>
</p>

<p>
    These terms may change without prior notice.
</p>

<p>
    Last modified: 2017-12-03
</p>

{% endblock %}