{% load staticfiles %}
{% load gravatar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if page_title %} {{ page_title }} - {% endif %} JoinUp</title>
    <link rel="stylesheet" href="{% static 'joinup/base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes">
    <link rel="shortcut icon" href="{% static 'joinup/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'joinup/favicon.png' %}">
    <meta name="apple-mobile-web-app-status-bar-style" content="#b6b68d">
</head>
<body>
    <header>
        <div>
            <h1><a href="/">JoinUp</a></h1>
        </div>
        <div class="buttons">
            {% if user.is_authenticated %}
            <a href="{% url 'events_create_group' %}">Create Group</a>

            <a href="#">
                <a href="{% url 'profile_page_self' %}">
                    Profile
                    {% gravatar user.email 24 %}
                </a>
                <a href="{% url 'account_logout' %}">Log out</a>
            </a>
            {% else %}
            <a href="{% url 'account_signup' %}">Sign up</a>
            <a href="{% url 'account_login' %}">Log in</a>
            {% endif %}
        </div>
    </header>
    {% include 'events/search_box.html' %}
    <section>
        {% block content %}
        {% endblock %}
    </section>
    <footer>
        <div>Improove the source on <a href="https://github.com/dns2utf8/joinup">Github</a>.</div>
        <div class="links">
            <a href="{% url 'page_imprint' %}">Imprint</a>
            <a href="{% url 'page_terms_of_service' %}">Terms of service</a>
            <a href="{% url 'page_about' %}">About</a>
        </div>
    </footer>
    <script src="{% static 'joinup/redirect_tls.js' %}"></script>
    <script src="{% static 'joinup/global_keyboard_shortcuts.js' %}"></script>
    <script src="{% static 'joinup/grid_random_background_color.js' %}"></script>
</body>
</html>