{% extends 'base.html' %}
{% load staticfiles %}
{% load account %}
{% load socialaccount %}

{% block content %}

<h1>Your profile</h1>

<p>
    Your username: <span class="box">{% user_display user %}</span class="box">
</p>
<p>
    Your email address: <span class="box">{{ user.email }}</span>
</p>

<h2>Actions</h2>
<ul>
    <li><a href="{% url 'account_change_password' %}">Change your password</a></li>
</ul>


<!--
<h2>Connected accounts</h2>

{% get_providers as socialaccount_providers %}
-->


{% endblock %}