@font-face {
font-family: 'Nimbus Sans';
src:
    local('Nimbus Sans'),
    url('NimbusSans-Regular.otf');
}
@font-face {
font-family: 'Cantarell';
src:
    local('Cantarell'),
    url('Cantarell-Regular.otf');
}


a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}
a:hover, a:active {
    color: #fff;
}

html, body {
    font-family: "Cantarell";
    font-size: 14px;
}

body {
    margin: 0px; padding: 0px;
    background-color: #303017;
}

header {
    display: flex;
    flex-flow: row wrap;
    background-color: #b6b68d;
    padding: 0rem 2rem;
}
header a {
    color: #000;
    text-decoration: none;
}
header a:hover, header a:active {
    color: #fff;
}
header a img {
    display: inline-block;
    height: calc(1em - 2px);
    width: calc(1em - 2px);
    border: 1px solid #fff;
    border-radius: 0.5em;
}
header > div.buttons {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
header > div > h1 {
    margin: 1.4rem;
    font-size: 2rem;
}
header > div > a {
    margin: 2rem;
    margin-left: 0rem;
    font-size: 1.3rem;
}


section {
    overflow: auto;
    padding: 2rem;
    background: #fff;
}
section > *:first-child {
    margin-top: 0rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.0em;
    margin-bottom: 0.7em;
    font-weight: 600;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.42rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }


footer, footer * {
    color: #fff;
}
footer a:hover, footer a:active, section a:hover, section a:active {
    color: #b6b68d;
}
footer > div {
    margin: 2rem;
}
footer > div.links > * {
    border-right: 1px solid #fff;
    padding-right: 1rem;
    margin-right: 0.6rem;
}
footer > div.links > *:last-child {
    border: 0px none;
}

.event_search_box {
    display: flex;
    border-bottom: 1px solid #b6b68d;
}
#event_search_box {
    flex-grow: 1;
}

.box, button {
    margin: 0.1rem;
    border: #ddd 1px solid;
    border-radius: 1rem;
    padding: 1rem;
}

button {
    background: #ddd;
}

.grid {
    display: flex;
    flex-flow: row wrap;
}
.grid > * {
    margin: 1rem;
    min-width: 13rem;
    min-height: 7rem;
    background: #eee;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    color: #000;
    vertical-align: middle;
}
.grid > *:hover {
    background: #555;
    color: #fff;
}